*{
    padding: 0;
    margin: 0;
}

:root{
    --navbar-height:59px;
}

.blink {
    animation: blinker 2.5s linear infinite;
    color: red;
    font-family: sans-serif;
}
@keyframes blinker {
    50% {
        opacity: 0;
        color: red;
    }
}

#navbar{
    /* background-color: black; */
    /* margin-left: 127px; */
    display: flex;
    align-items: center;
    position: relative;
    
}
#navbar ul{
    display: flex;
    
}

#navbar li{
    padding:20px 25px;
    list-style: none;
    font-size: 1.3rem;
}
#navbar ul li a{
    display: block;
    text-decoration: none;
    color: white;
    padding: 3px 22px;
    font-family: cursive;
    
    
}

#navbar li a:hover{
    
    color: black;
    background-color: red;
    border-radius: 20px;
    transition:all 1s ease-in-out .5s;

    
}
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    height:100%;
    width:100%;
    z-index:-1;
    opacity:.4;
    
}


#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    align-items: center;
     justify-content: center; 
    height: 545px;
}
#home::before{
    content: "";
    background:url('pexels-artem-podrez-6823567.jpg') no-repeat center center/cover;
    position: absolute;
    height:100%;
    width:100%;
    z-index:-1;
    opacity:.59;
    top: 0;
    left: 0;
    
}
#home h1{
    color: black;
    text-align: center;
    font-family:sans-serif;
    padding: 2px;
    font-weight: bold;
    font-size: 40px;
    transition: all .2s ease-in-out;
    /* margin-top: 120px; */
    /* margin-left: 120px; */
    
}
#home h2{
    font-family: cursive;
    color:rgba(0, 0, 0, 0.326);
    font-weight: bold;
    text-align: center;
    /* margin-left: 260px; */
    
}
.btn{
    display: grid;
    padding: 11px 15px;
    border: none;
    background-color:rgb(238 212 204);
    color: white ;
    font-weight: bold;
    margin-top: 20px;
    font-size: 1rem;
    border-radius: 15px;
    cursor: pointer;
    /* margin-left: 133px; */
}
.btn a{
    color: red;
}

.btn a:hover,.btn:hover{
    background-color: white;
    color:  rgb(247, 112, 22);
    transition: .2s ease;
}



#about{
    display: flex;
    /* margin-top: 50px; */
    /* height:500px; */
}
#about h1{
    font-size: 50px;
    padding:50px 50px;
}
.about-section{
    display: inline-block;
    /* border: 2px solid red; */
    width:45%;
    height:300px;
    
}

.about-section p{
    font-weight: 400;
    color: #5c5c77;
    font-size: 15px;
    line-height: 1.9;
    font-family: "Poppins", sans-serif;
    padding-left: 50px;
}
.about img{
    width: auto;
   height: auto; 
}

.btn1{
    position: absolute;
    padding: 11px 15px;
    border: none;
    background-color:rgb(238 212 204);
    color: white ;
    font-weight: bold;
    margin: 17px;
    font-size: 1rem;
    border-radius: 15px;
    cursor: pointer;
    margin: 450px 60px;
    /* margin-left: 50px; */
    /* margin-top: 50px; */
}
.btn1 a{
    color: red;
}

.btn1 a:hover,.btn1:hover{
    background-color: white;
    color:  rgb(247, 112, 22);
    transition: .2s ease;
}




#gallery h1,#process h1{
    font-size: 50px;
    padding:50px 50px;
    font-family: sans-serif;
}

.our-gallery img{
    display: inline-block;
    /* margin-left:50px; */
    padding:0px 10px;
    width: 30%;
    margin-top: 2%;
    border-radius: 15px;
    
    /* transform: scale(1); */
    /* transform: scaleX(0); */

}
.our-gallery img:hover{
    transform: scale(1.02);
    /* transform: scaleX(1); */
}
.img1{
    margin-left: 50px;
    margin-top: 3%;
}


.btn2{
    display: grid;
    padding: 11px 15px;
    border: none;
    background-color:rgb(238 212 204);
    color: white ;
    font-weight: bold;
    margin: auto;
    font-size: 1rem;
    border-radius: 15px;
    cursor: pointer;
    /* margin-left: 580px; */
    margin-top: 50px;
}
.btn2 a{
    color: red;
}

.btn2 a:hover,.btn2:hover{
    background-color: white;
    color:  rgb(247, 112, 22);
    transition: .2s ease;
}


/* #process{
    height:550px;
} */
.don-process h3{
    font-family: cursive;
    font-weight: lighter;
    margin:5px 15px;
}

.don-process p{
    margin-left: 15px;
    font-weight: 400;
    color: #5c5c77;
    font-size: 15px;
    line-height: 1.4;
    font-family: "Poppins", sans-serif;
}

.box{
    
    /* border: 2px solid red; */
    width: 21%;
    height: 370px;
    margin:0px 1%;
    display: inline-block;
    transition:all 1s ease-in-out .5s;

}
.box:hover{
    box-shadow: 5px 7px 30px 5px  rgb(243, 240, 216);
    border: 2px solid red;
}

.box1{
    margin-left:50px;
}
.box img{
    width:100%;
}
.btn3{
    padding: 11px 15px;
    border: none;
    background-color:rgb(238 212 204);
    color: white ;
    font-weight: bold;
    margin: 6px 15px;
    font-size: 10px;
    /* border-radius: 15px; */
    cursor: pointer;
    /* margin-left: 580px; */
    /* margin-top: 50px; */
}
.btn3 a{
    color: red;
}

.btn3 a:hover,.btn3:hover{
    background-color: white;
    color:  rgb(247, 112, 22);
    transition: .2s ease;
}


/* #blog{
    height: 600px;
} */

#blog h1{
    font-size: 45px;
    padding:40px 50px;
}

.box2{
    display:inline-block;
    height: 150px;
    width: 43%;
    /* border: 2px solid red; */
    margin: 10px 15px;
    margin-left: 60px;
    /* padding-left: 50px; */
    background-color: #fafafa;
    /* transition:all .5s ease-in-out .5s; */

}
.box2:hover{
    box-shadow: 5px 7px 30px 5px  rgb(243, 240, 216);
    border: 1px solid red;
}
.box2 p {
    position: absolute;
    margin-left: 10px;
    

    display: inline-block;
    width:30%;
    font-weight: 400;
    color: #5c5c77;
    font-size: 15px;
    line-height: 1.6;
    font-family: "Poppins", sans-serif;

}




#footer{
    margin-top: 80px;
    height:500px;
    background-color: red;
}
.contact-info{
    padding: 55px 70px;
}
.contact-info h2{
    color: white;
    padding-bottom: 20px;

}
.contact-info p{
    color: white;
    font-weight: bold;
    font-family: cursive;
    padding: 8px 33px;
    width: 310px;
}
#p1{
    width: 200px;
}
#icon1{
    position: absolute;
    
    font-size: 30px;
    margin-top: 12px;
    /* margin-right: 20px; */
}
#icon2{
    position: absolute;
    
    font-size: 25px;
    /* margin-right: 10px; */
    margin-top: 18px;
}
#icon3{
    position: absolute;
    
    font-size: 25px;
    /* margin-right: 10px; */
    margin-top: 18px;
}



.form{
    
    position: absolute;
    border: 2px solid black;
    width: 523px;
    height: 440px;
    margin-top: -385px;
    margin-left: 699px;
    background-color: white;

}
.form h2{
    text-align: center;
    font-weight: lighter;
    font-family: cursive;
    padding: 10px;
    background-color: #F8F8F8;
}
.form form{
    display: block;
    margin: 25px 23px;

}
form input{
    width: 90%;
    padding: 13px;
    font-size: 15px;
    margin: 10px;
    background-color: #F8F8F8;
    border: 2px solid white;


}
#btn3{
    background-color: red;
    color: white;
    margin-left:24px;
    cursor: pointer;
}


.bottem{
    width:100%;
    margin-top: 80px;
    display: block;
    position: absolute;
    /* margin-left: 45px; */
    background-color: red;
}
.bottem p{
    font-size: 25px;
    color: white;
    margin-top: 20px;
    /* text-align: center; */

}


/* changes */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    /* left: 0; */
    right: 0;
    background-color: rgb(238 212 204);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    /* color: #f1f1f1; */
    color: red;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  #btn{
      font-size: 30px;
      cursor: pointer;
      float: right;
  }
  
  .sidebar{
    display: none;
  }


  .dark-mode {
    background-color: black;
    color: red;

}
.light-mode {
    background-color: white;
    color: black;
}
#icon4{
    position: absolute;
    right:0;

    font-size: 35px;
    /* margin-right: 50px; */
    /* float: right; */
    margin-top:5px;
    margin-right: 10px;
    /* margin-left: 40px; */
}
#icon4:hover{
    font-size: 40px;
}
.reveal{
    position: relative;
    transform: translateY(144px);
    opacity:0;
    transition: 1s all ease;
}
.reveal.active{
    transform: translateY(0);
    opacity: 1;
}