<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Blood Donation</title>
    <script src="https://kit.fontawesome.com/f928c52a29.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" media="screen and (max-width:1170px)" href="../static/phone.css">

    <script src="index.js"></script>
</head>

<body>
    <nav id="navbar">
        
        <ul>
            <li class="item"><a href="#home"  id="_0"  style="background-color:red ; color:black;border-radius:20px;" onclick="change(this)">Home</a></li>
            <li class="item"><a href="#about" id="_1"  onclick="change(this)">About Us</a></li>
            <li class="item"><a href="#gallery" id="_2" onclick="change(this)">Gallery </a></li>
            <li class="item"><a href="#process" id="_3" onclick="change(this)">Process</a></li>
            <li class="item"><a href="#blog" id="_4" onclick="change(this)">Blogs</a></li>
            <li class="item"><a href="#footer" id="_5" onclick="change(this)" >Contact Us</a></li>

        </ul>
    </nav>
     
    <div class="sidebar">

        <div id="mySidenav" class="sidenav">
          <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
          <a href="#home">Home</a>
          <a href="#about">About Us</a>
          <a href="#gallery">Gallery</a>
          <a href="#process">Process</a>
          <a href="#blog">Blogs</a>
          <a href="#footer">Contact Us</a>
        </div>
        
        <span onclick="openNav()" id="btn">&#9776;</span>
        
        <script>
        function openNav() {
          document.getElementById("mySidenav").style.width = "250px";
        }
        
        function closeNav() {
          document.getElementById("mySidenav").style.width = "0";
        }
        </script>
           
    </div>
        


    <section id="home">
        <marquee  behavior="slide" direction="up">
            <h1 class="blink">Donate Blood & Save a Life</h1>
             <h2> Give the gift of life Donate blood</h2></marquee>
            <button class="btn"><a href="contact.html">  Donate Now  </a></button>
    </section>
    

    <section id="about">
        <div class="about-section">
            <h1>About Us</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur, magnam. Rem, id vero! Reiciendis soluta non distinctio asperiores fugiat voluptatum. Ad, veritatis nihil consequuntur totam voluptatem, atque dolore cum perferendis dicta earum aut velit vitae officiis labore hic dignissimos dolor modi! Doloremque est ad cum adipisci minima laudantium, ipsam molestias?Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error esse officiis neque sed ea dolore illum a blanditiis commodi molestiae.</p>
            
        </div>
        <img class="img1" src="../static/about.jpg" alt="">
        <button class="btn1"><a href="">Learn More</a> </button>
    </section>
    
    <section id="gallery">
        <h1>Our Gallery</h1>
        <div class="our-gallery">
            <img src="../static/g1.jpg" alt="" width="380px" class="img1">
            <img src="../static/g2.jpg" alt="" width="380px">
            <img src="../static/g3.jpg" alt="" width="380px">

        </div>
        <button class="btn2"><a href="">Show More</a> </button>

    </section>
    <section id="process">
        <h1>Process</h1>
        <div class="don-process">
            <div class="box box1">
                <img src="../static/g6.jpg" alt="" >
                <h3>1 - Registration</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, totam. Doloribus possimus dicta mollitia. Aspernatur maxime odit ut quas pariatur!</p>
                <button class="btn3"><a href="">Read More</a> </button>


            </div>
            <div class="box">
                <img src="../static/g7.jpg" alt="">
                <h3>2 - Seeing</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, totam. Doloribus possimus dicta mollitia. Aspernatur maxime odit ut quas pariatur!</p>
                <button class="btn3"><a href="">Read More</a> </button>


            </div>
            <div class="box">
                <img src="../static/g8.jpg" alt="" width="270px">
                <h3>3 - Donation</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, totam. Doloribus possimus dicta mollitia. Aspernatur maxime odit ut quas pariatur!</p>
                <button class="btn3"><a href="">Read More</a> </button>


            </div>
            <div class="box">
                <img src="../static/g10.jpg" alt="" width="270px">
                <h3>4 - Save Life</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, totam. Doloribus possimus dicta mollitia. Aspernatur maxime odit ut quas pariatur!</p>
                <button class="btn3"><a href="">Read More</a> </button>


            </div> 
            
        </div>
        
    </section>
    <section id="blog">
        <h1>Blogs</h1>
        <div class="blog-section">
            <div class="box2">
                <img src="../static/pexels-liza-summer-6347741.jpg" alt="" height="150px" width="150px">
                
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id, provident? Et nobis incidunt error labore sit modi facere saepe quasi! Hic facere illum optio, sit quia libero impedit repellat animi rem ad iusto officiis blanditiis consequatur magni, ratione eum. Officia. Lorem, ipsum dolor.</p>
            </div>
            <div class="box2">
                <img src="../static/pexels-karolina-grabowska-6627693.jpg" alt="" height="150px" width="150px">
                
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id, provident? Et nobis incidunt error labore sit modi facere saepe quasi! Hic facere illum optio, sit quia libero impedit repellat animi rem ad iusto officiis blanditiis consequatur magni, ratione eum.</p>
            
                
            </div>
            <div class="box2">
                <img src="../static/pexels-rodnae-productions-6646904.jpg" alt="" height="150px" width="150px">
                
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id, provident? Et nobis incidunt error labore sit modi facere saepe quasi! Hic facere illum optio, sit quia libero impedit repellat animi rem ad iusto officiis blanditiis consequatur magni, ratione eum. Officia Lorem ipsum dolor sit.</p>
            


            </div>


            <div class="box2">
            <img src="../static/pexels-anna-shvets-5218033.jpg" alt="" height="150px" width="150px">
            
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id, provident? Et nobis incidunt error labore sit modi facere saepe quasi! Hic facere illum optio, sit quia libero impedit repellat animi rem ad iusto officiis blanditiis consequatur magni, ratione eum. Officia Lorem ipsum dolor sit amet.</p>
            


            </div>
        </div>
    </section>

    <section id="footer">
        <div class="contact-info">
            <h2>Contact Information</h2>
            <i id="icon1" class="fa-solid fa-location-dot"></i>
            
            <p>46-29 Indra Street, Southernbank, Tigaione, Toranto, 3006 Canada</p>
            <i id="icon2" class="fa-sharp fa-solid fa-envelope"></i>
            <p>sales@anshweb.com
                support@anshweb.com</p>
            <i id="icon3" class="fa-sharp fa-solid fa-phone"></i>
            <p id="p1">+917905658520
                +91700752018</p>
        </div>
        <div class="form">
            <h2>Quick Message</h2>
            <form action="/con" method="post">
                <input type="text" placeholder="Enter Name" name="Name">
                <input type="text" placeholder="Enter Mobile no." name="Phone" >
                <input type="email" placeholder="Enter Email Address" name="Email">
                <input type="text" placeholder="Your Message" name="Message">
                <input type="submit" value="Send Request" id="btn3"> 
            </form>

        </div>
        <div class="bottem">
            <hr>
            <p>Copyright &copy; | 2022, All rights reserved</p>
        </div>
      
    </section>
    <hr>
    
        
    
    

    
    
